body{
  font-family: 'Times New Roman', Times, serif;
  background-color: antiquewhite;
  margin-top: 25px;
}

p, h1{
  text-align: center;
}

h1{
  font-weight: bolder;
  font-size: 32px;
}

p {
  margin: 20px;
}

a{
color: rgb(37, 146, 49);
margin: 10px;
}

.croissant_img {
  margin: 30px;
}